:root {
    --dark-green: #489069;
    --green:rgb(193, 219, 179, 0.4);
    --light-green: rgb(193, 219, 179, 0.3);
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* Style Classes */

.title {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.number {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.split .number, .split .title {
    color: var(--dark-green);
}

.number-input {
    border: none;
    display: block;
    width: 100%;
    font-size: 2.5rem;
}

/* Individual Elements*/

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem 3rem;
    font-style: italic;
}

.logo {
    font-size: 1.5rem;
}

.container {
    width: 80%;
    max-width: 300px;
    margin: 2rem 0;

}

/* Cost (Total Bill, Tip) */
.cost {
    padding: 0 1rem;
    /* border: 1px solid black; */
}
.bill, .tip {
    margin-bottom: 1rem;
}

/* Split (Number of people, Total per person) */

.split {
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    background-color: var(--light-green);
}
.split-settings {
    display: flex;
    column-gap: 0.7rem;
    align-items: center;
}
.operator {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    color: var(--dark-green);
    background-color: var(--green);
    font-size: 1.2rem;
}
.operator:hover {
    cursor: pointer;
}
.person {
    font-size: 0.7rem;
}

/* Number Pad (CSS Grid) */

.number-pad {
    margin-top: 2em;
    min-height: 200px;
    border-left: 1px solid var(--light-green);
    border-top: 1px solid var(--light-green);
}

.pad-btn {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid var(--light-green);
    border-right: 1px solid var(--light-green);
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--dark-green);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "one two three"
        "four five six"
        "seven eight nine"
        "dot zero backspace";
}

#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#dot {
    grid-area: dot;
}
#zero {
    grid-area: zero;
}
#backspace {
    grid-area: backspace;
}



@media only screen and (max-width: 700px) {
    .logo {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 300px) {
    .split {
        flex-direction: column;
        row-gap: 1.5em;
    }
}